<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

    <div class="container-fluid">
<h1>Fill in the Information to Add a New Link</h1>

<form method="POST" action="/addlink">

    <input type="text" name="name" placeholder="Name of Site" /></br>
    <input type="text" name="link" placeholder="Link" /></br>
    <input type="text" name="image" placeholder="Image URL" />
    </div>
    <button>Submit</button>
</form>